<div class="content">
	<% # if there is a query, then the page present results %>
	<% if @query.present? %>

	<span style="text-align:center">
		<% if @query.content_cont.size > 2 %>	
			
			
			<% if @conversation_full.count < 1 %>
				There is no public conversation containing <strong>"<%= @query.content_cont %>" </strong>
				<!-- Aucune conversation publique de contient  -->
			<% else %>
				List of every public conversation containing<strong>" <%= @query.content_cont %> "</strong>
				<!-- Liste des conversation publique contenant  -->
				<% @conversation_full.count %>
			<% end %>



		<% else %>
			The query is a bit short :/
			<!-- La requette demandée un un peu courte :/ -->
		<% end %>
	</span>




	<% end %>



	<% @conversation_full.each do |conversation| %>
		
	<hr style="margin:30px auto 10px auto;">
		

		<span 

			<% if conversation.published? %>
				style="color:green;"
			<% else %>
				<% if conversation.finished %>
					style="color:red;"
				<% end %>
			<% end %>
			>

			

			<% if current_user.unreadMessageFrom(conversation.id).present? %>
			
				<%= link_to image_tag('sending_message_active.jpg', id: 'conversation_link_index')+conversation.firstMessage.content, message_path(id: conversation.lastMessage.id) %>

				<!-- Message.where(conversation_id: conversation.id).where(read: false).where.not(author_id: current_user.id).present? %> -->
				<!-- <span style="color:red">
					<--<%= current_user.unreadMessageFrom(conversation.id).count %> Unread Message here
				</span> -->

			<% else %>
			<%= link_to image_tag('sending_message.jpg', id: 'conversation_link_index')+ conversation.firstMessage.content, message_path(id: conversation.lastMessage.id) %>
			<% end %>

			
			<!-- <li><strong>-> Dernier message :</strong> <%= conversation.lastMessage.content%></li> -->

		</span>


	<% end %>
	<hr>
	<%= link_to "", :back , class: "back_link" %>

</div>


