
<% # if there is a query, then the page present results %>
<% if @query.present? %>

	<span style="color:purple">
	<% if @query.content_cont.size > 2 %>	
		
		<% if @message_result_query.count <= 0 %>
			Aucune conversation publique de contient <strong>"<%= @query.content_cont %>" </strong>
		<% else %>
			Liste des conversation publique contenant <strong>" <%= @query.content_cont %> " (taille :<%= @query.content_cont.size %>) </strong><br><br>
		<% end %>

	<% else %>
		La requette demandée un un peu courte :/
	<% end %>
	</span>



<% else %>
	
	Toutes les conversations du user <strong><%= current_user.email %></strong> à l'id 
	<strong><%= current_user.id%></strong><br>

<% end %>

<% @conversation_full.each do |conversation| %>

	<span 

		<% if conversation.published? %>
			style="color:green;"
		<% else %>
			<% if conversation.finished %>
				style="color:red;"
			<% end %>
		<% end %>
		>
		<%= link_to 'Conversation '+conversation.id.to_s, message_path(id: conversation.lastMessage.id) %>

		<% if current_user.unreadMessageFrom(conversation.id).present? %>

			<!-- Message.where(conversation_id: conversation.id).where(read: false).where.not(author_id: current_user.id).present? %> -->
			<span style="color:red">
				<--<%= current_user.unreadMessageFrom(conversation.id).count %> Unread Message here
			</span>

		<% end %>

		<li><strong> -> Question :</strong> <%= conversation.firstMessage.content%></li>
		<li><strong>-> Dernier message :</strong> <%= conversation.lastMessage.content%></li>

		

		
		

		<br>
	</span>

<% end %>



