<span
<% if @conversation.published? %>
	style="color:green"
<% end %>
>
	Conversation 
	<% if @conversation.published? %>
	PUBLIQUE
	<% end %>
	: <%= @message.conversation_id %>.. de <%= @conversation.transmitter_id %>
	 <% if @conversation.published_by_transmitter %>
	 	(désir rendre publique) 
	 <% end %>
	 vers <%= @conversation.recepteur_id %>
 <% if @conversation.published_by_recepteur %>
 	(désir rendre publique) 
 <% end %>
</span>
 <br>


<% @all_messages.each do |message| %>
	<li><td><%= message.content %> // author_id : <%= message.author_id %> //message_id : <%= message.id %>
	<% if message.read %>
		 <strong style="color:green">
		 	READ
		 </strong>
	<%else%>
			UNREAD
	<%end%>
	</td></li>
<% end %>




	<% if @conversation.finished %>

		<% if !@conversation.published? %>
			<span style="color:red;">Conversation fermée </span>

			<% if current_user.hasPublished?(@conversation) %>
				Vous avez fait une demande de publication
			<% else %>
			
				<%= link_to "Rendre publique", edit_message_path(conversation_to_publish_id: @conversation.id)%>
			<% end %>
		<% end %>
		<br><br>	
		Noter la pertinence des réponses apportés :<br>

		<% (0..5).each do |i| %>
			<%= link_to i.to_s, edit_message_path(user_liked_id: @interlocutor.id, mark: i, linked_conversation_id: @conversation.id, user_liking_id: current_user.id ) %>
		<% end %>



	<% else %>

		<%= form_for(@answer) do |f| %>
		  <div class="field">
		    <%= f.text_field :content %>
		  </div>	

			<%= f.hidden_field :conversation_id, :value => @message.conversation_id %>

		  
		  <div class="actions">
		    <%= f.submit %>
		  </div>
	<% end %>

	<br><br>
	<% if current_user.id == @conversation.transmitter_id || current_user.id == @conversation.recepteur_id %>
		<%= link_to "Clore l'échange", edit_message_path(conversation_to_close_id: @message.conversation_id)%>
	<% end %>
<% end %>	


