<strong>Afficher les différentes addresses mails des profils créés</strong><br></p>


Liste des user :<br>
<% @users.each do |user| %>
	<li><%= user.email %>, <%= user.id %>, <% user.encrypted_password %> Note : <strong><%= user.averageMark %></strong> </li>
<% end %>


<hr>
<strong>Afficher tous les messages dans les conversations</strong><br>

<% @messages.each do |message| %>
	<li><%= message.content %> // author_id : <%= message.author_id %>// id : <%= message.id %> //conversation_id : <%= message.conversation_id %>
	<% if message.read %>
		 <strong style="color:green">
		 	READ
		 </strong>
	<%else%>
	<strong style="color:red">UNREAD
</strong>
			
	<%end%>
</li>
<% end %>

<hr>
<strong>Afficher toutes les conversations</strong><br>

<% @conversations.each do |conversation| %>

	<li><span 

	<% if conversation.finished %>
	
		<% if conversation.published? %>
			style="color:green;"
		<% else %>
			style="color:red;"
		<% end %>
	<% end %>
 >
 <!--unlocking_key : <%= conversation.unlocking_key %> //-->
 transmitter_id : <%= conversation.transmitter_id %> //
 recepteur_id : <%= conversation.recepteur_id %> //
 conversation_id : <%= conversation.id %> //
 conversation_published_by_transmitter : <%= conversation.published_by_transmitter %> //
 conversation_published_by_recepteur : <%= conversation.published_by_recepteur %> //

</span></li>
<% end %>

<hr>
<strong>Conversation sans interlocuteurs : <br></strong>

 conversation_with_no_recepter : 

<% @conversations_with_no_recepter.each do |this_conversation| %>
 <li><%= this_conversation.id %></li>
<% end %>

<hr>
<strong>Notes : <br></strong>
<br>
<% @marks.each do |mark| %>
	L'utilisateur n°<%= mark.user_liking_id %> 
	à noté l'utilisateur <%= mark.user_liked_id %>
	à la hauteur de <%= mark.mark %>/5 
	par rapport à la conversation <%= mark.linked_conversation_id %>
<% end %>
