<div style="background-color: gold; text-align:center; padding:10px">
	<% if @message_to_answer.blank? %>
		Pas de message
	<% else %>
		Message :<br>
		<%= @message_to_answer.content %>  //  
		<%= @message_to_answer.author_id %><br>
		<%= link_to 'répondre', message_path(id: @message_to_answer.id) %>
	<% end %>
</div>

<div style="background-color: red;  text-align:center; padding:10px">
  
  <%= form_for(@message) do |f| %>
	  <div class="field">
	    Posez votre question !<br>
	    <%= f.text_field :content %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>

</div>